*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;

    >.atom {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: transparent;
            box-shadow: inset 0 0 10px #fff;
            border-radius: 50%;
        }

        >div {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: .7;

            &:nth-of-type(1) {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                --color: #40ff9c;
                border-bottom: 10px solid var(--color);
                border-top: 10px solid var(--color);
                animation: line1 2s linear infinite;
                filter: drop-shadow(0 0 10px var(--color));
            }

            &:nth-of-type(2) {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                --color: #0ff;
                border-bottom: 10px solid var(--color);
                border-top: 10px solid var(--color);
                animation: line2 2s linear infinite;
                filter: drop-shadow(0 0 10px var(--color));
            }

            &:nth-of-type(3) {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                --color: #c096ff;
                border-bottom: 10px solid var(--color);
                border-top: 10px solid var(--color);
                animation: line3 2s linear infinite;
                filter: drop-shadow(0 0 10px var(--color));
            }
        }
    }
}

@keyframes line1 {
    0% {
        transform: rotateY(70deg) rotateZ(0)
    }

    100% {
        transform: rotateY(70deg) rotateZ(360deg)
    }
}

@keyframes line2 {
    0% {
        transform: rotateX(80deg) rotateY(25deg) rotateZ(0)
    }

    100% {
        transform: rotateX(80deg) rotateY(25deg) rotateZ(360deg)
    }
}

@keyframes line3 {
   0%{transform: rotateX(-80deg) rotateY(25deg) rotateZ(0)}

   100%{transform: rotateX(-80deg) rotateY(25deg) rotateZ(360deg)}
}

footer {
    >.coyright {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        cursor: pointer;

        &:hover {
            >.info {
                opacity: 1;
                transform: translateX(0);
            }
        }

        >img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 0 0 15px rgba(219, 215, 215, 0.8);
            object-fit: cover;
            transition: transform .3s ease;
        }

        >.info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 10px;
            opacity: 0;
            transform: translateX(50px);
            transition: all 0.5s ease;

            >.name {
                font-weight: bold;
                color: rgb(129, 128, 128);
                font-size: 17px;
                margin: 0 0 5px 0
            }

            >.socials {
                display: flex;
                color: rgb(129, 128, 128);
                gap: 10px;
                /* background-color: red; */
                &:hover{
                    >svg{
                        transform: scale(1.2);
                    }
                }

                >a {
                    >svg {
                        width: 40px;
                        height: 20px;
                        transition: transform 0.3s;
                    }
                }

            }


        }
    }
}